# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

 **Objectives :**
 + Data Science Languages
 + Data Science Libraries
 + Data Science Tools
 + Arithmatic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Scala
6. C++
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. Pytorch
9. Apache Spark
10. Vegas
11. BigDL
12. ggplot2


|Data Science Tools|
| -----------------|
| Jupiter |
| Anaconda Navigator |
| R studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [11]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60.
200 /60

3.3333333333333335

## Author 
   Dipti G